/* Restyling the tabbed menu to fit in all the tabs */
ul.tabs.primary {
	height: inherit !important;
}

ul.primary.tabs li a {
	padding: 0 4px 8px !important;
	overflow: hidden;
	width:100%;	
}

ul.primary.tabs li {
	max-width: 6.25%;
	padding: 0 4px !important;
}

